@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Oaktree Capital Management, L.P. Privacy Policy

    This Privacy Policy sets forth how Oaktree Capital Management, L.P., its corporate affiliates, and the investment funds under their management (referred to herein collectively as “Oaktree” or “we”) collect and process personal information about you. We are providing this Privacy Policy to you to satisfy disclosure requirements required under data protection and privacy regulations adopted by regulatory authorities in the jurisdictions in which Oaktree conducts business. These regulations require that Oaktree (as a data controller) ensure that you understand how we collect, use, process and share your personal information. Please note that certain of these disclosures may not apply to you.
</p>
